*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial, sans-serif';
    font-size: 16px;
    background-color: hsl(30, 54%, 90%);
    padding: 128px 48px;
    width: 100%;
    max-width:1440px;
    height: auto;
}

.inner-box{
    width: 90%;
    max-width : 740px;
    height: auto;
    background-color: #fff;
    margin: auto;
    border-radius: 24px;  
    padding: 40px;
}


.image img{
    border-radius: 24px;
    width: 100%;
    height: auto;
}


#section-1 h1{
    font-size: 40px;
    margin-bottom: 20px;
}

main{
    width: 100%;
    height: auto;
    
}

.boxes{
    padding: 20px;
    margin: 32px 0 32px 0; 
    line-height: 1.5em;   
}


h2, h3{
    color:  hsl(332, 51%, 32%);
}

.preparation{
    background-color: hsl(330, 100%, 98%);
}

#ingredients, 
#instruction{
    border-bottom: 2px solid  hsl(330, 100%, 98%);
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



@media screen and (max-width:992px){
    body{
        padding: 64px 24px;
    }
    
    .inner-box{
        width : 100%;
        padding: 20px;
        /*
        height: 1844px;
        background-color: #fff;
        margin: auto;
        border-radius: 24px;  
        padding: 40px;*/
    }

    .image img{
        width: 100%;
        height: auto;
        /*
        border-radius: 24px;
        width: 536px;
        height: 300px*/
    }

    main{
        width: 100%;
        height: auto;
        /*
        width: 536px;
        height: 1424px;*/
        
    }
    
}


@media screen and (max-width:375px){
    body{
        padding: 32px 16px;
    }

    #section-1 h1{
        font-size: 20px;
        line-height: 2em;
    }
    
    .inner-box{
        width: 100%; /* Make the inner box responsive */
        padding: 16px; /* Adjust padding for smaller screens */
        
    }

    .image img{
        width: 100%; /* Make the image responsive */
        height: auto; /* Maintain aspect ratio */
    }

    main{
        width: 100%; /* Make the main content responsive */
        height: auto; /* Remove fixed height */
        
    }
    
}
